# ======================================
# Out-of-tree build artifacts
# ======================================
/build
/build_samd21_iot_wg
/build_samd21_xpro_ot
/build_same54_xpro
/zephyr/build
/.west
/zephyr/.west

# ======================================
# Python virtual environment
# ======================================
.venv/
*.pyc
__pycache__/

# ======================================
# Zephyr SDK / external tools
# ======================================
/zephyr-sdk
*.swp
/bootloader
/modules
/tools 
/zephyr 

# ======================================
# VS Code
# ======================================
#*.code-workspace
#.vscode/tasks.json        # optional: ignore if you want local overrides
#.vscode/launch.json       # optional: ignore if you want local overrides

# ======================================
# OS-specific files
# ======================================
.DS_Store
Thumbs.db

# ======================================
# Misc
# ======================================
*.log
*.tmp
*.bak
*.old
