# Copyright (c) 2018 Bryan O'Donoghue
# Copyright (c) 2024 Gerson Fernando Budke <nandojve@gmail.com>
# SPDX-License-Identifier: Apache-2.0

# SAMD21_IOT_WG board does not have external oscillator
# Configure to use the internal 32kHz oscillator and also use that as main 
# Zephyr will take into account HW cycles requested and use DFPLL
CONFIG_SOC_ATMEL_SAMD_OSC32K=y 
CONFIG_SOC_ATMEL_SAMD_OSC32K_AS_MAIN=y 

CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=48000000

CONFIG_PM=n 
CONFIG_WATCHDOG=n 

CONFIG_BUILD_OUTPUT_HEX=y

CONFIG_CONSOLE=y 
CONFIG_SERIAL=y 
CONFIG_UART_CONSOLE=y 
CONFIG_UART_INTERRUPT_DRIVEN=y 
