/dts-v1/;
#include <freq.h>
#include <atmel/samd21.dtsi>
#include <atmel/samx2xx18.dtsi>
#include "samd21_iot_wg-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
    model = "SAMD21 IoT WG";
    compatible = "microchip,samd21-iot-wg", "atmel,samd21g18a", "atmel,samd21", "atmel,sam0";

    chosen {
        zephyr,console = &sercom5;
        zephyr,shell-uart = &sercom5;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
    };

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
        led1 = &led1;
        led2 = &led2;
        led3 = &led3;
		sw0 = &user_button0;
        sw1 = &user_button1;
	};   

    leds {
        compatible = "gpio-leds";

        led0: led_0 {
            gpios = <&porta 25 GPIO_ACTIVE_LOW>;
            label = "Red LED";
        };

        led1: led_1 {
            gpios = <&porta 11 GPIO_ACTIVE_LOW>;
            label = "Yellow LED";
        };

        led2: led_2 {
            gpios = <&porta 20 GPIO_ACTIVE_LOW>;
            label = "Green LED";
        };

        led3: led_3 {
            gpios = <&porta 21 GPIO_ACTIVE_LOW>;
            label = "Blue LED";
        };
    };

    buttons {
        compatible = "gpio-keys";

        user_button0: button_0 {
            gpios = <&porta 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "SW0";
            zephyr,code = <INPUT_KEY_0>;
        };

        user_button1: button_1 {
            gpios = <&porta 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "SW1";
            zephyr,code = <INPUT_KEY_1>;
        };
    };
};

&cpu0 {
	clock-frequency = <DT_FREQ_M(48)>;
};

&rtc {
	status = "okay";
	counter-mode = "clock";
	prescaler = <1024>;
};

&sercom0 {
    status = "okay";
    compatible = "atmel,sam0-spi";
    dipo = <3>;
    dopo = <0>;
    #address-cells = <1>;
    #size-cells = <0>;

    pinctrl-0 = <&sercom0_spi_default>;
    pinctrl-names = "default";
};

/*
&sercom3 {
	status = "okay";
	compatible = "atmel,sam0-i2c";
	clock-frequency = <I2C_BITRATE_FAST>;
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-0 = <&sercom3_i2c_default>;
	pinctrl-names = "default";
}; */

&sercom5 {
	status = "okay";
	compatible = "atmel,sam0-uart";
    current-speed = <115200>;
    clock-frequency = <48000000>;
	rxpo = <1>;
	txpo = <0>;

	pinctrl-0 = <&sercom5_uart_default>;
	pinctrl-names = "default";
}; 

