#include <zephyr/dt-bindings/display/panel.h>

/{
    aliases {
        spi0 = &sercom0; 
    };

    chosen {
        zephyr,display = &gc9x01x_lcd;
    };

};

&porta {
    status = "okay";
};

/*************************************************************
                Mikroe socket connections for 
                Adafruit EyeSPI display

       1  NC                    16  BACKLIGHT PB23
       2  TFT_RST PA03          15  TFT_DC    PB22
       3  TFT_CS  PA06          14  CARD_CS   PA09
       4  SCK     PA05          13  NC
       5  MISO    PA07          12  NC
       6  MOSI    PA04          11  NC
       7  +3V3                  10  +5V  
       8  GND                   9   GND

 *************************************************************/

&sercom0 {
    status = "okay";

    /* Use SPI SS pin as GPIO CS */
    cs-gpios = <&porta 6 GPIO_ACTIVE_LOW>;

    my_mipi_dbi {
        compatible = "zephyr,mipi-dbi-spi";
        status = "okay";
        #address-cells = <1>;
        #size-cells = <0>;
        spi-dev = <&sercom0>;
        dc-gpios = <&portb 22 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&porta 3 GPIO_ACTIVE_LOW>;

        gc9x01x_lcd: gc9x01x_lcd@0 {
            compatible = "galaxycore,gc9x01x";
            reg = <0>;
            mipi-max-frequency = <20000000>;
            pixel-format = <PANEL_PIXEL_FORMAT_RGB_565>;
            width = <240>;
            height = <240>;
            display-inversion;
        };
    };
};

